body {
  background-color: #f2f2f2;
  font-size: 25px;
  font-family: verdana;
}

h2 {
  font-size:30px;
}

/* Input */
#input-div {
  padding: 20px 50px;
}

input {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  font-size: 25px;
  text-align: center;
}

.sentence-li {
  padding: 5px 0px;
}

/* Tenses */
#tense-div {
  padding-left: 35px;
}

.tense-span {
  float:left;
  padding-right: 20px;
  font-style: normal;
  font-size:30px;
}

/* POS Columns */
ul {
  list-style-type: none;
  padding-left: 0px;
  font-style: italic;
}

#columns-div {
  padding: 10px 0px 10px 35px;
  height: 100%;
  width: 100%;
}

.col-row {
    overflow: hidden;
    padding-right: 50px;
    width: 100%;
    padding-left: 0px;
}

.col {
    float: left;
    padding: 5px;
    width: 25%;
    padding-left: 0px;
    }

/* Past Sentences */
#past-sentence-div{
  padding-left: 35px;
}

/* Hovers */
#input:hover {
  color: red;
}

.sentence-li:hover {
  color: red;
  cursor: pointer;
}
